body, html {
	/*background: url('../mochaGrunge.png');*/
	background: url('../subtle_white_feathers.png');
}

.jumbotron {
	/*background: url('../subtle_white_feathers.png');*/
	background: url('../mochaGrunge.png');
	color: white;
	/*border-bottom: solid #2e6da4 thick;*/
}

.jumbotron, .search-panel {
	text-align: center;
} 

.panel {
	border-color: #2e6da4;
}

.panel-title {
	color: white;
}

.panel-default>.panel-heading {
	background-color: #337ab7;
	border-color: #2e6da4;
}

#save-article-button, #delete-article-button {
	margin-top: -81px;
}

.returned-articles, .saved-articles {
	background: url('../subtle_white_feathers.png');
	padding: 10px;
	margin: 10px;
    border-radius: 25px;
}